---
- name: Copier prometheus.yml dans le conteneur Prometheus
  command: docker cp "{{ role_path }}/files/prometheus.yml" prometheus:/etc/prometheus/prometheus.yml

- name: Redémarrer le conteneur Prometheus
  docker_container:
    name: prometheus
    state: started
    restart: yes

- name: Déployer la configuration et les règles d'alerte pour Prometheus
  include_tasks: deployconfig.yml
